<div class="footer">
    <div class="footer-section">
        <h4>Contact:</h4>

        <p>Tabacaru Robert</p>
        <a href="https://github.com/robbyyt" target="_blank">Github</a>
        <a href="https://www.facebook.com/robert.tabacaru.3/" target="_blank">Facebook</a>

        <p>Trifan Inga</p>
        <a href="" target="_blank">Github</a>
        <a href="" target="_blank">Facebook</a>

        <p>Miru Ciprian</p>
        <a href="" target="_blank">Github</a>
        <a href="" target="_blank">Facebook</a>
    </div>
    <div class="footer-section useful-links">
        <h4>Useful Links:</h4>
        <a href="" target="_blank">Scholarly HTML</a>
        <a href="">F.A.Q.</a>
        <a href="">About us</a>

    </div>
</div>