<div class="header">
    <div class="header-left">
        <a href="./landingPage.html" class="project-name">STOL - Modern Cloud Storage</a>
    </div>
    <div class="header-right">
        <a href="./about.html" class="about-us">About us</a>
        <a href="./register.html" class="account-button">Register</a>
        <a href="./login.html" class="account-button">Log in</a>
    </div>
</div>