<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta property="keywords" content="project,infoiasi,web"> 
    <title>STOL</title>
    <link rel="stylesheet" href="../assets/css/scholarly.min.css">
    <script src="../assets/js/scholarly.min.js"></script>
  </head>
  <body prefix="schema: http://schema.org">
    <header>
      <div class="banner">
        <a href="/">
          <img src="../assets/images/scholarly-html.svg" width="227" height="50" alt="Scholarly HTML logo">
        </a>
        <div class="status">In development</div>
      </div>
      <h1>STOL - Scholarly HTML report</h1>
    </header>
    <!--
      XXX
      - check refs
      - the math example has too much maths
      - bring back some of the old style
      - make semantics, validation, processing sub-sections of each structural element
      - have a section before that for general constructs
        - explain why use RDFa
        - explain our patterns: RDFa, roles
      - figure captions need to get set throughout
      - dedication? see doc-dedication
      - syntactic constraints (prefix)
      - needs more sthenurines
      - examples of everything
      - some notes on using Semantic CSS
      - needs more RDFa in the spec itself
    -->
    <div role="contentinfo">
      <dl>
        <dt>Authors</dt>
        <dd>
          <a href="https://github.com/robbyyt" target="_blank">Tabacaru Robert</a>
          <br>
          <a href="https://github.com/ingatrifan" target="_blank">Trifan Inga</a>
          <br>
          <a href="https://github.com/kreL-Lo" target="_blank">Miru Ciprian</a>
          <br>
        </dd>
        <dt>Bugs &amp; Feedback</dt>
        <dd>
          <a href="https://github.com/ingatrifan/Proiect_WEB/issues" target="_blank">We welcome pull requests and appreciate anyone who takes time to report issues!</a>
        </dd>
      </dl>
    </div>
    <section typeof="sa:Abstract" id="abstract" role="doc-abstract">
      <h2>Abstract</h2>
      <p>
        STOL is a web application that allows users to bypass the storage limits of regular drive services by allowing you to store files in the cloud while being connected
        on multiple drive accounts, without having to worry that uploading a certain file will exceed the limit of one of those particular accounts.
      </p>
    </section>
    <section id="introduction" role="doc-introduction">
      <!-- review? -->
      <h2>Introduction</h2>
      <p>
        This article will serve as a tutorial on how to use the application.
      </p>
    </section>
  </body>
</html>
