<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta property="keywords" content="project,infoiasi,web"> 
    <title>STOL</title>
    <link rel="stylesheet" href="../assets/css/scholarly.min.css">
    <script src="../assets/js/scholarly.min.js"></script>
  </head>
  <body prefix="schema: http://schema.org">
    <header>
      <div class="banner">
        <a href="/">
          <img src="../assets/images/scholarly-html.svg" width="227" height="50" alt="Scholarly HTML logo">
        </a>
        <div class="status">In development</div>
      </div>
      <h1>STOL - Scholarly HTML report</h1>
    </header>
    <!--
      XXX
      - check refs
      - the math example has too much maths
      - bring back some of the old style
      - make semantics, validation, processing sub-sections of each structural element
      - have a section before that for general constructs
        - explain why use RDFa
        - explain our patterns: RDFa, roles
      - figure captions need to get set throughout
      - dedication? see doc-dedication
      - syntactic constraints (prefix)
      - needs more sthenurines
      - examples of everything
      - some notes on using Semantic CSS
      - needs more RDFa in the spec itself
    -->
    <div role="contentinfo">
      <dl>
        <dt>Authors</dt>
        <dd>
          <a href="https://github.com/robbyyt" target="_blank">Tabacaru Robert</a>
          <br>
          <a href="https://github.com/ingatrifan" target="_blank">Trifan Inga</a>
          <br>
          <a href="https://github.com/kreL-Lo" target="_blank">Miru Ciprian</a>
          <br>
        </dd>
        <dt>Bugs &amp; Feedback</dt>
        <dd>
          <a href="https://github.com/ingatrifan/Proiect_WEB/issues" target="_blank">We welcome pull requests and appreciate anyone who takes time to report issues!</a>
        </dd>
      </dl>
    </div>
    <section typeof="sa:Abstract" id="abstract" role="doc-abstract">
      <h2>Abstract</h2>
      <p>
        STOL is a web application that allows users to bypass the storage limits of regular drive services by allowing you to store files in the cloud while being connected
        on multiple drive accounts, without having to worry that uploading a certain file will exceed the limit of one of those particular accounts.
      </p>
    </section>
    <section id="introduction" role="doc-introduction">
      <!-- review? -->
      <h2>Introduction</h2>
      <p>
        This article will serve as a tutorial on how to use the application. All of the screenshots are from the desktop version, but accessing it from a mobile phone will not
        alter the interface in significant ways, so this guide is for all types of devices.
      </p>
    </section>
    <section id="landing">
      <h3>Landing Page</h3>
      <img src="../assets/images/scholarly/landing.png" width="700px" height="auto" alt="landing">
      <p>The landing page is very easy to use, the header provides relevant options for navigation according to authentication status and the page only has one other button
        which leads to the login screen.
      </p>
    </section>
    <section id="login-register">
      <h3>Login and register pages</h3>
      <img src="../assets/images/scholarly/login.png" width="700px" height="auto" alt="login">
      <img src="../assets/images/scholarly/register.png" width="700px" height="auto" alt="register">
      <p>The user can easily fill out the forms to login/register and can press the forgot your password text to put in his email and receive a password reset email.
      </p>
    </section>
    <section id="about">
      <h3>About us page</h3>
      <img src="../assets/images/scholarly/about.png" width="700px" height="auto" alt="about">
      <p>The about page contains information about the creators of the application and links to the documentation of the application. (on the bottom of the page)
      </p>
    </section>
    <section id="main-page">
      <h3>Main Page</h3>
      <img src="../assets/images/scholarly/main1.png" width="700px" height="auto" alt="main1">
      <p>The basic layout of the page, the user has buttons on the right(under the search bar on mobile)
      that allow him to: upload files, create folders, connect drive accounts and access the dashboard(admins only)</p>
      <img src="../assets/images/scholarly/main2.png" width="700px" height="auto" alt="main2">
      <p>When the + button is clicked, a modal will appear that prompts the user to upload files. The user can also drag and drop files from his system! If no
        drive accounts are connected, the user won't be able to upload files.
      </p>
      <img src="../assets/images/scholarly/main3.png" width="700px" height="auto" alt="main3">
      <p>When the folder icon is clicked, the user is prompted to create a folder.</p>
      <img src="../assets/images/scholarly/main4.png" width="700px" height="auto" alt="main4">
      <p>When the profile button is clicked, the user can see which drive services are connected on his account and, connect to the others!</p>
      <img src="../assets/images/scholarly/main5.png" width="700px" height="auto" alt="main5">
      <p>When hovering over a file the user can choose to download or delete the file.(he needs to be connected to the drive accounts that have the fragments of the file)</p>
    </section>
    <section id="dashboard">
      <h3>Dashboard</h3>
      <img src="../assets/images/scholarly/dashboard.png" width="700px" height="auto" alt="dashboard">
      <p>The dashboard page enables admins to view user information such as storage space remaining and number of files, but they can also select table rows and export them
        in CSV format. Selected table rows are grey instead of black. Admins can also delete user accounts(non-admin ones) by clicking on the delete cell. A search bar is available
        if they want to search for a particular user by email.
      </p>
    </section>
    <section id="video">
      <h3>Presentation video</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/QJxZJFP5j8E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
  </body>
</html>
