<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/landingPage.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <title>STOL</title>
</head>
<body>
    
    <div class="landing-page">
            <div class="navbar">
                    <nav>
                        <ul>
                            <li class="logo"><a href="#">STOL - Modern Cloud Storage</a></li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                        
                    </nav>
                </div>
        <div class="page-content">
            <h1>Welcome to STOL!</h1>
            <p>
                STOL is a smart and easy-to-use web application that allows users to store and manage large files, for free! 
                The application implements a very clever arhitecture that takes advantage of numerous cloud-storage services, such as Dropbox, Google Drive and Microsoft OneDrive.
            </p>
            <a href="/login">Get Started</a>
        </div>
    </div>
</body>
</html>