.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 25px;
  overflow: auto;
  min-height: 88vh;
  background-image: url('../images/bg-dash.png');
  overflow-x: auto;
  padding: 25px;
}


table {
  width: 85%;
  margin-top: 30px;
  min-width: 800px;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 6px;
  border: 1px solid black;
}

.table-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-input {
  border: 0;
  border-bottom: 1px solid black;
  height: 25px;
  width: 500px;
  text-align: center;
  background: none;
  align-self: center;
}

#search-input {
  outline: none;
}

td {
  margin: 0 20px;
  text-align: center;
  border-bottom: 1px solid black;
}

tr {
  height: 50px;
  border: 1px solid black;
}

th {
  height: 50px;
}

th img {
  height: 80%;
}

.delete :hover {
  cursor: pointer;
}

table tr:last-child {
  border-bottom: 0;
}
table tr:last-child td {
  border-bottom: 0;
}

thead tr th{
  border-bottom: 1px solid black; 
  border-collapse:separate; 
  border-spacing:5px 5px;
} 

@media only screen and (max-width: 700px) {
  #search-input {
    width: 90%;
  }
  .table-container {
    align-items: flex-start;
  }
}
